.card-grid {
    background-color: $l-black;
    position: relative;
    padding: 113px 100px;

    .grid-inner {
        padding: 226px 60px 113px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
        justify-items: center;

        .btn-slide {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            

            img {
                width: 54px;
                height: 100%;
            }

            &.btn-prev {
                transition: 250ms transform ease-in-out;    
                left: 0;

                img {
                    transform: rotate(90deg);
                }

                &:hover {
                    transform: translate(-5px, -50%);
                }
            }

            &.btn-next {
                right: 0;
                transition: 250ms transform ease-in-out;    


                img {
                    transform: rotate(-90deg);
                }
                
                &:hover {
                    transform: translate(5px, -50%);
                }
            }
        }


        .player-card {
            background-color: white;
            max-width: 387px;
            width: 387px;
            padding: 0 20px;
            position: relative;
            border-radius: 27px;

            &__bg {
                background-color: $l-black;
                border-radius: 99px;
                border: 2px solid white;
                position: relative;
                top: -80px;
                height: 428px;
            }


            &__image {
                position: relative;
                top: -94px;
                left: -20px;

                img {
                    width: 100%;
                    height: 525px;
                }
                
            }

            &__info {
                padding: 16px;
                position: relative;
                bottom: 60px;
                font-size: 20px;
                color: $l-black;
            }
        }


    }
}

@media (min-width: 1268px) and (max-width: 1440px) {
    .card-grid {
        .grid-inner {
            padding-top: 113px;
            grid-gap: 20px;

            .player-card {
                max-width: 300px;

                &__bg {
                    height: 300px;
                    max-width: 292px;
                    border-radius: 70px;
                }

                &__image {
                    top: -47px;
                    left: 4px;

                    img {
                        height: initial;
                    }
                }

                &__info {
                    font-size: 16px;
                }
            }

            .btn-slide {
                img {
                    width: 40px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1267px) {
    .card-grid {
        padding-left: 16px;
        padding-right: 16px;
        padding: 48px 16px;

        .grid-inner {
            padding-left: 16px;
            padding-right: 16px;
            padding: 113px 16px;

            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0;


            .btn-slide {
                display: none;
            }

            .player-card {
                max-width: 260px;
                height: 490px;

                &__bg {
                    height: 250px;
                    border-radius: 63px;
                }

                &__image {
                    top: -46px;
                    left: 5px;

                    img {
                        height: initial;
                    }
                }

                &__info {
                    font-size: 16px;
                }

                &:last-child {
                    margin-top: 180px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .card-grid {
        padding: 0;


        .btn-slide {
            display: none;
        }

        .grid-inner {
            padding: 200px 16px 133px;
            grid-template-columns: 1fr;
            justify-content: center;
            row-gap: 150px;

            .player-card {
                max-width: 75%;

                &__bg {
                    height: 300px;
                    border-radius: 74px;
                }

                &__image {
                    top: -37px;
                    left: -5px;

                    img {
                        height: initial;
                    }   
                }

                &__info {
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }
}