.form-subscribe {
    height: 768px;
    background-color: $l-green;
    background: linear-gradient(to right, $l-blue, $s-green);
    position: relative;
    

    .success-toast {
        position: absolute;
        z-index: 3;
        top: 30%;
        right: 50px;
        background-color: $p-green;
        padding: 16px;
        border-radius: 3px;
        color: white;
        opacity: 0;
        transition: 250ms opacity ease;
        box-shadow: 0px 2px 6px #0000004D;

        
        &.show {
            opacity: 1;
        }
    }

    .form-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -32px;
        background-color: white;
        border-radius: 8px;
        text-align: center;
        max-width: 1082px;
        height: 832px;
        z-index: 2;
        
        padding: 82px 100px 172px;
        box-shadow: 0px 0px 6px #0000004D;

        h2 {
            font-family: $s-font;
            font-size: 35px;
            font-weight: bold;
            color: $l-green;
        }

        p {
            margin-top: 42px;
            font-size: 20px;
            line-height: 1.2;
        }

        form {
            margin-top: 52px;
            display: grid;
            grid-template-columns: repeat(2, 250px);
            grid-gap: 30px;
            grid-row-gap: 38px;
            justify-content: center;
        }

        .mensagem-ta {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .nome-input,
        .email-input,
        .mensagem-ta {
            padding: 12px 16px 15px;
            font-size: 18px;
            font-family: $p-font;
            border: 2px solid $l-black;
        }

        .btn-submit {
            background-color: $l-green;
            border: none;
            padding: 13px 0 14px;
            font-size: 18px;
            color: white;
            outline: none;
            cursor: pointer;


            &:hover {
                background-color: darken($l-green, 3%);
            }
        }
    }

}


@media (min-width: 320px) and (max-width: 767px) {
    .form-subscribe {

        .form-wrapper {
            padding: 0;
            left: 5%;
            right: 5%;
            transform: initial;
            padding: 16px;

            p {
                font-size: 18px;
                margin-top: 20px;
            }

            form {
                grid-template-columns: 1fr;
            }

            .nome-input,
            .email-input,
            .mensagem-ta {
                width: 100%;
                display: block;
            }

            .mensagem-ta {
                grid-column-start: initial;
                grid-column-end: initial;
                height: 200px;
            }
        }

        .success-toast {
            top: 33%;
            right: 12px;
        }
    }
}
