@import '../base/mixins';

.hero {
    background: url('../../public/assets/l-banner.png') no-repeat center center / cover;
    height: 1080px;
    
    position: relative;

    .red-card {
        min-height: 100%;
        height: 1080px;
        background: url('../../public/assets/bg-main-card.svg') no-repeat center center;
        max-width: 586px;
        margin: 0 auto;
        color: white;
        padding: 30px;
        text-align: center;
        position: relative;

        h3 {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 22px;
            text-align: left;
        }

        img {
            max-width: 100%;
            margin-bottom: 28px;
        }

        p {
            font-size: 20px;
            padding: 0 130px;
            color: $l-gray;
        }
    }

    .wing {
        position: absolute;        
    }

    .wing-1 {
        left: -40px;
        top: 40%;
        transform: translateY(-50%);
        background: url('../../public/assets/l-w1.png') no-repeat center center / cover;
        width: 130px;
        height: 120px;
    }

    .wing-2 {
        left: 30px;
        top: 604px;
        background: url('../../public/assets/l-w2.png') no-repeat center center / cover;
        width: 96px;
        height: 100px;
    }

    .wing-3 {
        right: 10px;
        top: 40%;
        background: url('../../public/assets/l-w3.png') no-repeat center center / cover;
        width: 157px;
        height: 155px;
    }

    .wing-4 {
        right: 0;
        top: 30%;
        background: url('../../public/assets/l-w4.png') no-repeat center center / cover;
        width: 181px;
        height: 155px;
    }


    .scroll-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom:-32px;
        left: 50%;
        z-index: 2;

        .mouse {
            background-color: white;
            width: 29px;
            height: 48px;
            border-radius: 124px;
            position: relative;

            &::before {
                content: '';
                width: 3px;
                height: 8px;
                border-radius: 124px;
                background-color: black;
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                animation: scroll-button 1s ease-in-out infinite;
            }
        }

        img {
            width: 15px;
            animation: arrow-animation 2s ease-in-out infinite;
        }
    }
}

@media (min-width: 1268px) and (max-width: 1440px) {
    .hero { 
        background-image: url('../../public/assets/banner.png');
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .hero {
        padding: 0 16px;
        height: 725px;

        .red-card {
            p {
                padding: 0;
            }
        }

        .wing-1 {
            top: 24%;
            left: -27px;
            width: 100px;
            height: 90px;
        }

        .wing-2 {
            top: 31%;
            width: 66px;
            height: 70px;
        }

        .wing-3 {
            top: 23%;
            width: 127px;
            height: 125px;
        }

        .wing-4 {
            top: 18%;
            right: -2px;
            width: 121px;
            height: 95px;
        }

        .scroll-wrapper {
            transform: translateX(-50%);
        }
    }
}


@include scroll-animation('scroll-button', 2px);
@include scroll-animation('arrow-animation', 15px);
