.container {
    max-width: 1920px;
    margin: 0 auto;
}

@media (min-width: 1268px) and (max-width: 1440px) {
    .container {
        max-width: 1268px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 1267px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}