@mixin scroll-animation($name, $amount) {
    @keyframes #{$name} {
        0% {
            transform: translateY(0);
        }
    
        50% {
            transform: translateY($amount);
        }
    
        100% {
            transform: translateY(0);
        }
    }
}