.footer {
    background-color: $l-black;
    height: 410px;
    position: relative;

    .btn-scroll-to-top {
        position: absolute;
        top: 98px;
        right: 143px;
        width: 107px;
        height: 107px;
        border-radius: 50%;
        background-color: white;
        transform: rotate(180deg);

        img {
            width: 42px;
            transition: 250ms transform ease;
        }

        &:hover {

            img {
                transform: translateY(3px);
            }
        }
    }
}

@media (min-width: 1268px) and (max-width: 1440px) {
    .footer {
        height: 350px;

        .btn-scroll-to-top {
            width: 67px;
            height: 67px;

            img {
                width: 30px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1267px) { 
    .footer {
        height: 300px;

        .btn-scroll-to-top {
            width: 47px;
            height: 47px;
            right: 30px;

            img {
                width: 20px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        height: 250px;

        .btn-scroll-to-top {
            right: 5%;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 22px;
            }

        }
    }
}