.header {
    background-color: $l-black;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;


        img {
            width: 109px;
        }
    }

    p {
        color: white;
        font-family: $s-font;
        font-weight: bold;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header {
        .logo {
            img {
                width: 70px;
            }
        }
    }
}



