*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $p-font;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
}